
/* /* the min-width is causing issue in responsive, so m oving forward, that has to be removeed and each page must be updated accordingly. */
html,body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter,BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
  /* min-width: 1300px; */
  scroll-behavior: smooth;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: none;
} 





@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


* {
  box-sizing: border-box;
}

a {
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: black;
  cursor: none;

}

a:hover {
  border-bottom: 5px solid yellow;
  box-shadow:
  inset 0 -0.2em yellow;
  display: inline;

}

button {
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: black;
  cursor: none;

}

button:hover {
  border-bottom: 5px solid yellow;
  box-shadow:
  inset 0 -0.2em yellow;
  display: inline;

}

.cursor {
  
  cursor: hide;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 10px solid white;
  border-radius: 50%;
  caret-color: red;

  opacity: 1;
  cursor: none;
  z-index: 10;
  box-shadow: 0 0 0  1px black;
  }

  @keyframes cursorAnim {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.5);
  }
  100% {
  transform: scale(1);
  opacity: 1;
  }
  }
  .expand {
  animation: cursorAnim .5s forwards;
  }