
.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 24px;
    line-height: 1.5;
    column-gap: 3.2rem;
    flex-basis: 25%;
    margin-bottom: 16px;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
  
  .logo{
    background-color: black;
  }

  .whitetext{
    color: white;
  }

.underline{
  text-decoration: underline;
}

/* .underlineHover{
  border-bottom: 1px solid transparent;
}
.underlineHover:hover{
  border-bottom: 1px solid yellow;
  position: absolute;


} */


.container{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
}



.landingVideo{
  width: 100%;
  height: 100vh;
  display: flex;
}



.landingVideo video {   
  object-fit: unset;   
  width: 100%;
  height: 100%;
}




.videoCover{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 35%;
  z-index: 1;
  position: absolute;
}

.textLandingPage{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: absolute;
  display: flex;
  width: 100%;
  gap: 5rem;
  height: 100%;
  z-index: 4;
}

.titleLandingPage{
  width: 450px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  opacity: 100%;
}


.adrWhiteLogo{
  
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

@media (max-width:600px){

  

  .landingVideo{
    max-width: 600px;
  }
  
  .landingVideo video {   
    object-fit: cover;   
    width: 100%;
    height: 100%;
  }
  .textLandingPage{
    width: 100%;
    font-size: small;
    gap: 1rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .textLandingPage img{
    width: 230px;
  }
  .textLandingPage p{
    width: 1000px;
    font-size: 12px;
  }
  .videoCover{
    width: 100%;
    opacity: 0;

  }
}

.contentStyle{
  flex: 1;
  display: "flex";
  align-items: "center";
  margin-left: auto;
  margin-right: auto;
  padding-top: 155px;
}

.layoutStyle{
  display: "flex";
  height: 100%;
  width: 100%;
}

.headerWhiteBackground{
  background-color: white;
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 3;
  top: 0px;
  box-sizing: border-box;
}
.headerStyle{
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 3;
  top: 0px;
}

.newheaderStyle{
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 125px;
  z-index: 4;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;

}

.headerUpperBar{
  gap: 35px;
}

.headerLowerBar{
  gap: 35px;
}

@media (max-width:800px){
  .newheaderStyle{
    font-size: 12px;
  }
  .headerUpperBar{
    gap: 10px;
  }
  .headerLowerBar{
    gap: 10px;
  }
}
@media (max-width:600px){
  .newheaderStyle{
    font-size: 8px;
  }
  .headerUpperBar{
    gap: 7px;
  }
  .headerLowerBar{
    gap: 7px;
  }
  .newheaderStyle img{
    width: 50px;
    height: auto;
  }
}



.linksStyle{
  display: inline-block;
  float: right;
}

.upperlinksStyle ul{
  display: inline-flex;
  float: right;
  list-style-type: none;
  margin-top: 50px;
}
.upperlinksStyle li{
  margin-right: 40px;
  list-style-type: none;
  font-size: 14px;
}

.lowerlinksStyle ul{
  display: inline-flex;
  float: right;
  list-style-type: none;
  margin-top: 5px;

}
.lowerlinksStyle li{
  margin-right: 40px;
  list-style-type: none;
  font-size: 14px;
}

.headerResponsive{
  border : 1px solid black;
  position: absolute;
  left: 40px;
  right: 40px;
}

.headerbreakerBlack_top{
  border : 1px solid black;
  position: absolute;
  margin-top: 40px;
  left: 40px;
  right: 40px;
}


.headerbreakerBlack_middle{
  border : 1px solid black;
  position: absolute;
  margin-top: 85px;
  left: 40px;
  right: 40px;
  min-width: 1220px;
}

.headerbreakerBlack_bottom{
  border : 1px solid black;
  position: absolute;
  margin-top: 125px;
  left: 40px;
  right: 40px;
  min-width: 1220px;
}

.imageStyle{
  margin-left: 40px;
  float: left;
  margin-top: 50px;
}

.adr_description{

  width: 50%;
  padding-left: 100px;
  margin-top: 113px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 300;
  height: 138px;
  line-height: 36px;
  letter-spacing: -10;
}



@media (max-width:800px){
  .adr_description{

    padding-left: 40px;
    width: 80%;
    font-size: 18px;
    padding-right: 10px;
  }
}


.ImageHome_style{
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 175px;
  object-fit: cover;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
}

.arrowHome_style{
  z-index: 2;
  transform: rotate(-45deg);
  object-fit: cover;
  margin-top: 80px;
  margin-left: -40px;
}

.logoContainer{
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  
  /* top: 433px; */
}
.logoHome_style{
  z-index: 2;
  object-fit: contain;
  max-width:600px;
  height: auto;
}

@media (max-width:800px){
  .logoHome_style{
    max-width: 200px;
    margin-top: 80px;
  }
}

.footerStyle{
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 14px;
}
@media (max-width:600px){
  .footerStyle{
    display: none;
  }
}

.adrlogo_footer{
  object-fit: contain;
  width: 216.21px;
  height: auto;
}

.taubman_footer{
  margin-bottom: 10px;
  margin-left: 47px;
}

.footerlogo_style{
  display: inline-block;
  padding-left: 30px;
  padding-top: 60px;
}

.footerlogoleft_style{
  position: absolute;
  left: 40px;
}



.adrsocial_footer{
  margin-bottom: 10px;
  margin-right: 15px;
}

.adrsociallinkedin_footer{
  margin-bottom: 12px;
}
.footer_text{
  font-size: 16px;
  line-height: 19px;
  margin-top: 47.3px;
  margin-left: 10px;
}
.latestWorkStyle{
  padding-left: 40px;
  padding-right: 40px;
}
.latestWorkStyle h3{
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  padding-top: 100px;
}



.projectsScrollStyle{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectImageStyle{
  position: relative;

  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* update the width below and the width under images in the projects section to update image and block size */
/* margin bottom determines the margin between the rows of projects */
.projectCardStyle{
  height: auto;
  max-width: 400px;
  margin-bottom: 3rem;
}
.projectCardStyle p{
  top: 0px;
  position: relative;
  max-width: 100%;

}

.titleArrowLatestWork{
  display: flex;
  max-width: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* allows the arrow to start with the first line of the project title */
.titleArrowLatestWork img{
  margin-top: 10px;
}

.SmallAboutUsStyle{
  display: flex;
  height: max-content;
  padding-top: 120px;
  padding-right: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 40px;
}

.SmallAboutUsStyle p{
  width: 480px;
  display: inline-block;
  vertical-align:top;
  font-size: 30px;
  line-height: 36px;
}

.SmallAboutUs_imageStyle{
  display: inline-block;
  position: relative;

  vertical-align:top;
  object-fit:cover;
  height: 50%;
  max-width: 100%;
}
@media (max-width:900px){
  .SmallAboutUsStyle{
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .SmallAboutUsStyle p{
    font-size: 18px;
    line-height: 25px;
  }
}

.arrowAboutUs{

  gap: 0px;
  position: relative;
  padding-bottom: 5rem;

}

.arrowAboutUs a{
  font-size: 20px;
  width: 175px;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 20px;
}







.TopicBlockStyle{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;

}

.descriptionandplus{
  display: flex;
  gap: 168px;

}

@media (max-width:1300px){
  .descriptionandplus{
    width: 100%;
    gap: 1rem;
  }
}


.SmallResearchTopicsStyle{
  background-color: black;
  color: white;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 87px;
  padding-bottom: 123px;
  position: relative;
}

.TopicBlockStyle h3{
  width: 240px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.SmallResearchTopicsStyle h2{
  font-size: 40px;
  font-weight: 400;

  letter-spacing:-1px;
}

.TopicBlockStyle p{
  position: relative;
  width: 360px;
  font-size: 15px;
  font-weight: 200;
  line-height: 18px;
  
}

.researchImageStyle{
  object-fit: cover;
  max-width: 100%;
}
.plus_style{
  position: relative;
  margin-left: auto;
  width: 54.16px;
  height: 54.16px;
}

.moreinfoStyle{


  display: flex;
  margin-bottom: 130px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-items: center;
  gap: 120px;
  flex-direction: row;
  flex-wrap: wrap;


}

.moreinfoStyle p{
  position: relative;

  font-size: 15px;
  max-width: 500px;
  font-weight: 200;
}

.breakerWhite{
  border : 1px solid white;
}

.breakerBlack{
  border : 1px solid blçack;
}

.SmallNewsTopicsStyle{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
}

.NewsContainerStyle{
  display: flex;
  margin-left: 0px;

}

.NewsBlockStyle{
  display: flex;
  gap: 20px;
  max-width: 488px;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

}

.NewsBlockStyle h3{
  font-size: 30px;
  width: 90%;

  font-weight: 400;
}


.NewsBlockStyle p{
  font-size: 20px;
  z-index: 1;
}

@media (max-width:800px){
  .NewsBlockStyle h3{
    font-size: 12px !important;
  }
  .NewsBlockStyle p{
    font-size: 10px !important;

  }
}


.newsBlock{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.newsTitlePart {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  height: inherit;
  height: 189px;
}
.newsTitlePart h1{
  margin: 0px;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}


.newsTitlePart p{
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.2px;
}

@media (max-width:800px){
  .newsBlock img{
    margin-bottom: 20px;
  }
  .newsTitlePart{
    width: 100%;
    gap: 20px;
    height: auto;
  }
  .newsTitlePart h1{
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .newsTitlePart p{
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
  }

  .newsTitlePart a{
    font-size: 12px;
  }

}


.yellowHighlight{
  display: none;
  border : 5px solid #FFFF00;
  position: absolute;
  bottom: 0px;
  width: 197px;
}

.NewsContainerStyle:hover + .yellowHighlight{
  display: block;
}



/*---------------------ABOUT US PAGE--------------------*/

.AboutStyle{
  display:inline-block;
  width: 100%;
}

.yellowblockStyle{
  background-color: #FFFF00;

  width: 100%;
  position: relative;
  top: 0px;
  padding-top: 135px;

}

.headerYellowBackground{
  background-color: #FFFF00;
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 3;
}



.yellowTitle{
  position: relative;
  text-align: right;
  padding-right: 40px;

  width: 100%;
  display: flex;
  
  line-height: 70px;
  font-weight:300;
  font-size: 35px;
  flex-direction: column;
}

.yellowTitle h1{
  font-weight: 400;
}

.yellowTitle h3{
  position: relative;
  left: 40px;
  bottom: 30px;
  text-align: left;
  font-weight: 400;
}

@media (max-width:900px){
  .yellowTitle{
    font-size: 16px;
    line-height: 50px;
  }
}
@media (max-width:600px){
  .yellowTitle{
    font-size: 14px;
    line-height: 50px;
  }
}


.topContainer{
  background-color: #FFFF00;
  height: 565px;
  position: absolute;
}

.firstWhiteBlock{
  position: relative;
  top: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  gap: 20px;
}

.firstWhiteBlock p{
  width: 40%;
}

.Aboutus_first_imageStyle{
  width: 50%;
  object-fit:scale-down;
}

 @media (max-width:900px){
  .firstWhiteBlock{
    margin-top: -50px;
  }
  .firstWhiteBlock p{
    width: max-content;
  }
  
  .Aboutus_first_imageStyle{
    width: 100%;
    object-fit:scale-down;
  }
}

@media (max-width:500px){
  .firstWhiteBlock p{
    width: max-content;
    margin-top: -100px;
  }
}




.teamBlock{
  margin-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.teamBlock h3{
  position: relative;
  bottom: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 35px;
}

.teamPictureContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}

.teamImageSquare{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width:600px){
  .teamImageSquare{
    width: 100%;
  }
}



.teamImage{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/*display the block once hovered on the picture*/
.teamImage:hover + .teamInfoBlock{
  display: block;
}

.teamInfoBlock{
  display: none;
  position: absolute;
  background-color: #FFFF00;
  max-width: 375px;
  width: 100%;

}
.teamInfoBlock h3{
  height: max-content;
  font-weight: 400;
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 15px;
  width: 100%;
}

.teamInfoBlock p{
  position:relative;
  left: 10px;
  font-size: 10px;
  bottom: 10px;
  font-weight: 300;
}

@media (max-width:600px){
  .teamInfoBlock{
    width: 100%;
    max-width: none;
  }
}

.upperArrow{
  position: absolute;
  top: 30px;
  right: 20px;
}

.secondWhiteBlock{
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  background-color: white;
}

.secondWhiteBlock h3{
  position: relative;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
  width: 50%;
}
.secondWhiteBlock p{
  position: relative;
}

.Aboutus_second_imageStyle{

  object-fit:cover;
}

@media (max-width:900px){
  .Aboutus_second_imageStyle{
    width: 100%;
    object-fit:cover;
  }
  .secondWhiteBlock h3{
    font-size: 30px;
  }
}
.textArrow{
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.textArrow p{
  display: inline-block;
  vertical-align: middle;
  top: -5px;
  font-size: 15px;
}

.smallUpperArrow{
  transform: rotate(-45deg);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.smallLeftArrow{
  transform: rotate(-180deg);
  position: relative;
  display: inline-block;

  vertical-align: middle;
}



/*-----------Team Profiles [id].js--------------*/

.teamContent{
  position: relative;
  padding-top: 255px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;

}
.roleNameHeader{
  display: block;

  width: max-content;
}

.personalImage{
  position: relative;
}

.imageAndPersonalInfo{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.containerUserInfo{
  width: 50%;
}
@media (max-width:900px){
  .personalImage{
    width: 100%;
    height: max-content;
  }
}
@media (max-width:1000px){
  .containerUserInfo{
    width: 100%;
  }
  .roleNameHeader{
    width: min-content; 
  }

}

.roleNameHeader h1{
  font-size: 60px;
  font-weight: 300;
  position: relative;
  top: -40px;
}

.lightSub{
  margin-top: 70px;
  color: #707070;
  font-size: 16px;
  position: relative;
}

.yellowHighlightName{
  border : 10px solid #FFFF00;
  position: relative;
  top: -110px;
  width: 110%;
  z-index: -1;
}

.breakerTeam{
  border : 1px solid black;
  width: 100%
}

.containerLinks{
  display: block;
  position:relative;
  font-size: 15px;
  margin-bottom: 45px;
}

.containerLinks a{
  text-decoration-line: underline;
}

.containerLinks p{
  margin-bottom: 0px;

}



/*---------- News main ---------*/
.TitleSection{
  padding-top: 125px;
  padding-left: 40px;
  padding-right: 40px;
  
}
.TitleSection p{
  letter-spacing: -1px;
  font-size: 30px;
  /* width: 80%; */
  font-weight: 300;
}

.TitleSection h1{
  font-size: 32px;
  font-weight: 300;
}

@media (max-width:600px){
  .TitleSection h1{
    font-size: 18px;
  }
  .TitleSection p{
    font-size: 16px;
    letter-spacing: 0px;
  }
}


.NewsContainer{

  display: block;
}

.OneNews{


}

.BlockWithoutBreaker{
  display: flex;
  padding-top: 30px;
  gap: 100px;
}

.BlockWithoutBreaker p{
  font-size: 30px;
  font-weight: 00;
}


.newsTitlePart a{
  width: max-content;
}

.newsTitlePart a:hover {
  border-bottom: 5px solid yellow;
  box-shadow:
  inset 0 -0.2em yellow;
  display: inline;
}


/*-------------News Pages----------*/
.topContainerNews{
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
}
.titleAndDateNews{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.titleAndDateNews p{
  font-size: 30px;
  font-weight: 300;
}

.titleAndDateNews h1{
  font-size: 39px;
  font-weight: 400;
  width: 50%;
}

.topContainerNews img{
  width: 50%;
  max-width: 700px;
}
.newsBody{
  display: flex;
  color: #707070;
  width: 80%;
  padding-top: 50px;
}
.newsBody p{
  text-align: justify;
}

.newsImage{
  margin-top: 35px;
  margin-bottom: 30px;
  object-fit:cover;
}

@media (max-width:800px){
  .titleAndDateNews{
  padding-bottom: 20px;
  }
  .titleAndDateNews h1{
    font-size: 18px;
    width: 80%;
  }
  .titleAndDateNews p{
    font-size: 12px;

  }
  .TitleSection p{
    font-size: 16px;
    letter-spacing: 0px;
  }
  .topContainerNews img{
    width: 100%;
  }
  .newsBody{
    display: flex;
    color: #707070;
    width: 100%;
    padding-top: 20px;
  }
  .newsBody p{
    font-size: 12px;
    text-align: justify;
  }
}


/*-------PUBLICATIONS------*/
.headerbreakerBlack_top_short{
  border : 1px solid black;
  margin-left: 160px;

  max-width: 1183px;
}

@media (max-width:600px){
  .headerbreakerBlack_top_short{
    max-width: 1050px;
  }
}

.linksPublications{
  display: flex;
  gap: 20px;
}

.publicationsImages{
  object-fit:cover;
  margin-top: 40px;
  margin-bottom: 40px;

}



.PublicationsTitlePart{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}


.PublicationsTitlePart h1{
  margin: 0px;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}

.PublicationsTitlePart h3{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}

.PublicationsTitlePart p{
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.2px;
}


.publicationBlock{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sameyearPublicationsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  width: 90%;
}

.yearBlockContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  gap: 50px;
  padding-bottom: 100px;
}

@media (max-width:800px){
  .PublicationsTitlePart{
    width: 100%;
  }
  .PublicationsTitlePart h1{
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .PublicationsTitlePart p{
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
  }

  .PublicationsTitlePart a{
    font-size: 12px;
  }

  .sameyearPublicationsContainer{
    width: 100%;
    gap: 60px;
  }

  .yearBlockContainer{
    gap: 0px;
    padding-bottom: 60px;
  }
}
/* .FirstBlockWithoutBreaker{
  display: flex;
  margin-left: 20px;
  padding-top: 30px;
  gap: 100px;
} */


/*-----------Teachings--------*/
.TeachingBlock{
  display: block;
  padding-top: 30px;
  gap: 100px;
}

.TeachingBlock h3{
  font-size: 30px;
  font-weight: 400;
}

.blockLineContainer{
  width: 100%;
  /* padding-right: 40px; */
  padding-top: 80px;
}
.headerbreakerRelative{
  border : 1px solid black;
  position: relative;
  width: 100%;
  left: 0;
}

.teachingClassesContainer{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  width: 70%;
  padding-top: 120px;

}
.levelBlockContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  
}
.teachingClassText{
  width: 100%;
}

.teachingClassText h1{
  margin: 0px;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px
}

.teachingClassText h3{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
}

.teachingClassText p{
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (max-width:730px){
  /* .levelBlockContainer{
    gap: 70px;
  } */
  .teachingClassesContainer{
    padding-top: 0px;
    width: 100%;
    gap: 40px;
  }
  .teachingClassText h1{
    font-size: 18px;
  }
  .teachingClassText h3{
    font-size: 18px;
  }
  .teachingClassText p{
    font-size: 12px;
  }
  .TitleSection p{
    width: 100%;
  }
  .TeachingBlock h3{
    font-size: 26px;
    width: 100%;
  }
}

/*---------Contact Us------*/

.yellowContactUsTitle{
  text-align: left;
  padding-left: 40px;
  padding-top: 80px;
  padding-right: 40px;

  max-width: 900px;
  
  line-height: 50px;
  font-weight:300;
  font-size: 35px;

}

.yellowContactUsTitle h3{
  position: relative;
  bottom: 30px;
  text-align: left;
  font-weight: 400;

}

.yellowblockStyleContacUs{
  background-color: #FFFF00;
  height: 365px;
  width: 100%;
  position: relative;
  top: 0px;
  min-width: 1340px;
}
.form{
  width: 50%;
}

.formContainer{
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.input {
  display: block;
  width: 100%;
  height: 65px;
  background-color: #EDEDEE;
  border: none;
  margin-bottom: 24px;
  cursor: none;
}

.input[type=text] {
  padding-left: 26px;
  position: relative;
}

.submit{
  border: none;
  
  font-size: 20px;
  background-color: white;
}

.bottomContainer{
  margin-top: 100px;
  position: relative;
  padding-left: 40px;

}

.mapContactUs{
  width: 360px;
  height: 435px;
  padding-top: 40px;
}

.imageContactUs{

}

.sucessfulSubmissionBlock{
  position: absolute;
  margin-top: -450px;
  width: 720px;
  height: 480px;
  height: 480px;
  background-color: black;
  z-index: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.sucessfulSubmissionBlock p{
  color: grey;
  position: relative;
  text-align: center;

  top: 40%;

}

@media (max-width:780px){
  .form{
    width: 100%;
  }
  .imageContactUs{
    width: 100%;
  }
  .yellowContactUsTitle h3{
    font-size: 18px;
    line-height: 25px;
  }
  .bottomContainer p{
    font-size: 12px;
  }
}


@keyframes openBox {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}







/* Under construction */

.backHome{
  display: flex;
}

.backHome p{
  font-size: 24px;
}



/* research */

.researchImages{
  object-fit:cover;
  max-width: 370px;
  min-width: 100px;

}

.researchBlock {
  display: flex;
  padding-bottom: 40px;
  padding-top: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
}

.researchtopicsText{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between


}

.researchtopicsText p{
  font-size: 1.17em;
  font-weight: 300;
}
.researchtopicsText h3{
  font-size: 1.6em;
  font-weight: 400;
}
.researchTitlePart{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 50%;

}
@media (max-width:800px){
  .researchImages{
    width: 100%;
    max-width: none;
  }
  .researchBlock{
    gap: 50px;
  }
  
  .researchtopicsText{
    gap: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .researchtopicsText h3{
    font-size: 15px;
  }
  .researchtopicsText p{
    font-size: 15px;
  }
  .researchTitlePart{
    width: 100%;
  }
  .researchTitlePart h1{
    font-size: 2px;
  }
}


/* projects */

.projectMainImageStyle{
  max-height: 548px !important;

  
}

.projectDescription{
  padding: 120px 40px 40px 40px;
}

.projectDescriptionContent{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectDescriptionContent h3{
  width: 65%;
  font-weight: 300;
}

@media (max-width:800px){
  .projectDescription h1{
    font-size: 32px;
  }
  .projectDescription h1{
    font-size: 32px;
  }
  .projectDescription p{
    font-size: 15px;
  }
  .projectDescriptionContent h3{
    width: 100%;
    font-size: 15px;
  }
}