
.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 24px;
    line-height: 1.5;
    column-gap: 3.2rem;
    flex-basis: 25%;
    margin-bottom: 16px;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
  
  .logo{
    background-color: black;
  }

  .whitetext{
    color: white;
  }

.underline{
  text-decoration: underline;
}

/* .underlineHover{
  border-bottom: 1px solid transparent;
}
.underlineHover:hover{
  border-bottom: 1px solid yellow;
  position: absolute;


} */


.container{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
}



.landingVideo{
  width: 100%;
  height: 100vh;
  display: flex;
}



.landingVideo video {   
  object-fit: cover;   
  width: 100%;
  height: 100%;
}




.videoCover{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 35%;
  z-index: 1;
  position: absolute;
}

.textLandingPage{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: absolute;
  display: flex;
  width: 100%;
  gap: 5rem;
  height: 100%;
  z-index: 4;
}

.textLandingPage p{
  width: 450px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  opacity: 100%;
}

.adrWhiteLogo{
  
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

@media (max-width:600px){

  body.test{
    min-width: none!important;
    width: 100%;
  }
  .landingVideo{
    max-width: 100%;
  }
  
  .landingVideo video {   
    object-fit: unset;   
    width: 100%;
    height: 100%;
  }
  .textLandingPage{
    width: 100%;
    font-size: small;
    gap: 4rem;
  }
  .textLandingPage img{
    width: 200px;
  }
  .textLandingPage p{
    width: 1000px;
    font-size: 12px;
  }
  .videoCover{
    width: 100%;
    opacity: 0;

  }
}

.contentStyle{
  flex: 1;
  display: "flex";
  align-items: "center";
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
}

.layoutStyle{
  display: "flex";
  height: 100%;
  width: 100%;
}

.headerWhiteBackground{
  background-color: white;
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 3;
  top: 0px;
}
.headerStyle{

  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 3;
  top: 0px;
}


.linksStyle{
  display: inline-block;
  float: right;
}

.upperlinksStyle ul{
  display: inline-flex;
  float: right;
  list-style-type: none;
  margin-top: 50px;
}
.upperlinksStyle li{
  margin-right: 40px;
  list-style-type: none;
  font-size: 14px;
}

.lowerlinksStyle ul{
  display: inline-flex;
  float: right;
  list-style-type: none;
  margin-top: 5px;

}
.lowerlinksStyle li{
  margin-right: 40px;
  list-style-type: none;
  font-size: 14px;
}

.headerbreakerBlack_top{
  border : 1px solid black;
  position: absolute;
  margin-top: 40px;
  left: 40px;
  right: 40px;
  min-width: 1220px;
}

.headerbreakerBlack_middle{
  border : 1px solid black;
  position: absolute;
  margin-top: 85px;
  left: 40px;
  right: 40px;
  min-width: 1220px;
}

.headerbreakerBlack_bottom{
  border : 1px solid black;
  position: absolute;
  margin-top: 125px;
  left: 40px;
  right: 40px;
  min-width: 1220px;
}

.imageStyle{
  margin-left: 40px;
  float: left;
  margin-top: 50px;
}

.adr_description{

  width: 480px;
  margin-left: 100px;
  margin-top: 113px;
  font-size: 30px;
  font-weight: 300;
  height: 138px;
  line-height: 36px;
  letter-spacing: -10;
}

.ImageHome_style{
  z-index: 1;
  width: 100%;
  margin-top: 175px;
  object-fit: cover;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
}

.arrowHome_style{
  z-index: 2;
  position:absolute;
  left: 10px;
  top: 520px;
  transform: rotate(-45deg);
  object-fit: cover;
}

.logoContainer{
  width: 100%;
  min-width: 1300px;
  position: absolute;
  top: 433px;
}
.logoHome_style{
  z-index: 2;
  position:absolute;
  right: 40px;
  object-fit: contain;
  max-width:100%;
  height:auto;
}

.footerStyle{
  margin-top: 120px;
  height: 453.48px;
}

.adrlogo_footer{
  object-fit: contain;
  width: 216.21px;
  height: auto;
  margin-top: 170px;
  margin-left: 30px;
}

.taubman_footer{
  margin-bottom: 10px;
  margin-left: 47px;
}

.footerlogo_style{
  display: inline-block;
}

.footerlogoleft_style{
  position: absolute;
  left: 40px;
}



.adrsocial_footer{
  margin-bottom: 10px;
  margin-right: 15px;
}

.adrsociallinkedin_footer{
  margin-bottom: 12px;
}
.footer_text{
  font-size: 16px;
  line-height: 19px;
  margin-left: 40px;
  margin-top: 47.3px;
}
.lastestWorkStyle{
  width: 100%;
}
.lastestWorkStyle h3{
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  padding-top: 100px;
  padding-left: 40px;
}



.projectsScrollStyle{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 100px;
}

.projectImageStyle{
  position: relative;
  left: 40px;
  margin-right: 60px;
  object-fit: cover;
}

.projectCardStyle p{
  top: 0px;
  left: 40px;
  position: relative;

}

.titleArrowLatestWork{
  display: flexbox;
  width: 100%;
}

.titleArrowLatestWork img{
  position: relative;
  justify-self: flex-end;
  margin-top: -10px;
  margin-left: 30px;
}

.SmallAboutUsStyle{
  display: block;
  height: max-content;
  padding-top: 120px;
  padding-bottom: 147px;
}

.SmallAboutUsStyle p{
  width: 480px;
  margin-left: 40px;
  display: inline-block;
  vertical-align:top;
  font-size: 30px;
  line-height: 36px;
}

.arrowAboutUs{
  margin-top: -20px;
  gap: 0px;
}

.arrowAboutUs a{
  font-size: 20px;
  width: 175px;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 20px;
}


.SmallAboutUs_imageStyle{
  display: inline-block;
  position: relative;
  left: 200px;
  top: 1rem;
  vertical-align:top;
  object-fit:cover;
}




.TopicBlockStyle{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.SmallResearchTopicsStyle{
  background-color: black;
  color: white;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 87px;
  padding-bottom: 123px;
  position: relative;
}

.TopicBlockStyle h3{
  width: 240px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.SmallResearchTopicsStyle h2{
  font-size: 40px;
  font-weight: 400;

  letter-spacing:-1px;
}

.TopicBlockStyle p{
  position: relative;
  width: 360px;

  margin-left: 40%;
  font-size: 15px;
  font-weight: 200;
  line-height: 18px;
  
}

.researchImageStyle{
  object-fit: cover;
}
.plus_style{
  position: relative;
  margin-left: auto;
  width: 54.16px;
  height: 54.16px;
}

.moreinfoStyle{

  margin-right: 80px;
  display: flex;
  margin-bottom: 130px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.moreinfoStyle p{
  position: relative;
  
  float: right;
  top: -20px;
  font-size: 15px;
  max-width: 500px;
  font-weight: 200;
}

.breakerWhite{
  border : 1px solid white;
}

.breakerBlack{
  border : 1px solid blçack;
}

.SmallNewsTopicsStyle{
  padding-left: 40px;
  padding-top: 106px;
  position: relative;
}

.NewsContainerStyle{
  display: flex;
  margin-top: 67px;
  margin-left: 0px;

}

.NewsBlockStyle{
  display: flexbox;
  width: 488px;
  height: 300px;
  padding-left: 32px;
}

.NewsBlockStyle h3{
  font-size: 30px;
  width: 350px;
  margin-top: -10px;
  font-weight: 400;
}


.NewsBlockStyle p{
  font-size: 20px;
  position: absolute;
  bottom: -20px;
  z-index: 1;
}

.yellowHighlight{
  display: none;
  border : 5px solid #FFFF00;
  position: absolute;
  bottom: 0px;
  width: 197px;
}

.NewsContainerStyle:hover + .yellowHighlight{
  display: block;
}

#circularcursor {
  background-color: transparent;
  border:1px solid black;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
}

/*---------------------ABOUT US PAGE--------------------*/

.AboutStyle{
  display:flexbox;
}

.yellowblockStyle{
  background-color: #FFFF00;
  height: 565px;
  width: 100%;
  position: relative;
  top: 0px;
  min-width: 1340px;
}

.headerYellowBackground{
  background-color: #FFFF00;
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 3;
  top: 0px;
}

.yellowTitle{
  position: relative;
  text-align: right;
  padding-right: 40px;
  top: 220px;
  width: 100%;
  
  line-height: 70px;
  font-weight:300;
  font-size: 35px;
}

.yellowTitle h1{
  font-weight: 400;
}

.yellowTitle h3{
  position: relative;
  left: 40px;
  bottom: 30px;
  text-align: left;
  font-weight: 400;
}
.topContainer{
  background-color: #FFFF00;
  height: 565px;
  position: absolute;
}

.firstWhiteBlock{
  position: relative;
  margin-bottom: 200px;
  top: 10px;
  height: 638px;
  background-color: white;
}

.firstWhiteBlock p{
  position: absolute;
  top: 300px;
  width: 460px;
  right: 40px;
}

.Aboutus_first_imageStyle{
  display: inline-block;
  position: relative;
  left: 40px;
  bottom: -150px;
  vertical-align:top;
  object-fit:cover;
}


.teamBlock{
  margin-bottom: 80px;
}
.teamBlock h3{
  position: relative;
  left: 40px;
  bottom: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 35px;
}

.teamPictureContainer{
  position: relative;
  left: 40px;
  display: inline-block;
}

.teamImageSquare{
  width: 360px;
  height: 360px;
  margin-right: 6rem;
  margin-bottom: 2rem;
}



.teamImage{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/*display the block once hovered on the picture*/
.teamImage:hover + .teamInfoBlock{
  display: block;
}

.teamInfoBlock{
  display: none;
  position:absolute;
  bottom: 35px;
  background-color: #FFFF00;
  width: 360px;
}
.teamInfoBlock h3{
  height: max-content;
  font-weight: 400;
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 15px;
}

.teamInfoBlock p{
  position:relative;
  left: 10px;
  font-size: 10px;
  bottom: 10px;
  font-weight: 300;
}

@media (max-width:600px){

  
  .teamImageSquare{
    width: 300px;
    margin-right: 7rem;

  }
  .teamInfoBlock{
    width: 300px;
  }

}

.upperArrow{
  position: absolute;
  top: 30px;
  right: 20px;
}

.secondWhiteBlock{
  position: relative;

  top: 50px;
  height: 592px;
  background-color: white;
}

.secondWhiteBlock h3{
  position: relative;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
  width: 460px;
  left: 40px;
}
.secondWhiteBlock p{
  position: relative;
  top: 50px;
  width: 460px;
  left: 40px;
}

.Aboutus_second_imageStyle{
  position: absolute;
  right: 100px;
  top: 150px;
  object-fit:cover;
}

.textArrow{
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;

}

.textArrow p{
  display: inline-block;
  vertical-align: middle;
  top: -5px;
  font-size: 15px;
}

.smallUpperArrow{
  transform: rotate(-45deg);
  position: relative;
  display: inline-block;

  vertical-align: middle;
}

.smallLeftArrow{
  transform: rotate(-180deg);
  position: relative;
  display: inline-block;

  vertical-align: middle;
}



/*-----------Team Profiles [id].js--------------*/

.teamContent{
  position: relative;
  margin-top: 125px;
  padding-left: 40px;
  margin-bottom: 85px;
}
.roleNameHeader{
  display: block;
  padding-top: 115px;
  width: fit-content;
}

.personalImage{
  position: relative;
  top: -40px;
  width: 420px;
  margin-bottom: 200px;
}


.containerUserInfo{
  display: block;
  width: 600px;
  position:absolute;
  right: 150px;
  height: 100%;
  top: 300px;

}

@media (max-width:600px){

  
  .personalImage{
    width: 300px;
    height: auto;
    margin-bottom: 400px;
  }

  .containerUserInfo{
    right: 300px;
  }

}

.roleNameHeader h1{
  font-size: 60px;
  font-weight: 300;
  position: relative;
  top: -40px;
}

.lightSub{
  margin-top: 70px;
  color: #707070;
  font-size: 16px;
  position: relative;
}

.yellowHighlightName{
  border : 10px solid #FFFF00;
  position: relative;
  top: -110px;
  width: 110%;
  z-index: -1;
}

.breakerTeam{
  border : 1px solid black;
  position: absolute;
  width: 110%;
}

.containerLinks{
  display: block;
  width: 600px;
  position:relative;
  font-size: 15px;
  margin-bottom: 45px;
}

.containerLinks a{
  text-decoration-line: underline;
}

.containerLinks p{
  margin-bottom: 0px;

}



/*---------- News main ---------*/
.TitleSection{
  padding-top: 125px;
  padding-left: 40px;
  padding-right: 40px;
  
}

.TitleSection h1{
  font-size: 90px;
  font-weight: 300;
}

.NewsContainer{

  display: block;
}

.OneNews{


}

.BlockWithoutBreaker{
  display: flex;
  padding-top: 30px;
  gap: 100px;
}

.BlockWithoutBreaker p{
  font-size: 30px;
  font-weight: 00;
}
.newsTitlePart{
  margin-left: -40px;

  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsTitlePart h1{
  margin: 0px;
  font-size: 39px;
  font-weight: 400;
  max-width: 700px;
  line-height: 50px
}

.newsTitlePart h3{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}

.newsTitlePart p{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  max-width: 800px;
  position: absolute;
  align-items: flex-end;
}

.newsTitlePart a{
  width: max-content;
}

.newsTitlePart a:hover {
  border-bottom: 5px solid yellow;
  box-shadow:
  inset 0 -0.2em yellow;
  display: inline;
}


/*-------------News Pages----------*/
.topContainerNews{

  height: 1500px;
  padding-top: 125px;
  padding-left: 40px;
  padding-right: 40px;
}


.topContainerNews h2{
  position: relative;
  top: -250px;
  float: right;
}

.newsBody{
  position: relative;
  float: right;
  right: 60px;
  max-width: 780px;
  color: #707070;
  margin-top: 50px;
}

.newsImage{
  margin-top: 35px;
  margin-bottom: 30px;
  object-fit:cover;
}


/*-------PUBLICATIONS------*/
.headerbreakerBlack_top_short{
  border : 1px solid black;
  margin-left: 160px;
  width: 205%;
  max-width: 1183px;
}

@media (max-width:600px){
  .headerbreakerBlack_top_short{
    max-width: 1050px;
  }
}

.linksPublications{
  display: flex;
  gap: 20px;
}

.publicationsImages{
  object-fit:cover;
  margin-top: 40px;
  margin-bottom: 40px;

}



.PublicationsTitlePart{
  margin-left: -40px;
  margin-bottom: 20px;
}

.PublicationsTitlePart h1{
  margin: 0px;
  font-size: 39px;
  font-weight: 400;
  max-width: 700px;
  line-height: 50px
}

.PublicationsTitlePart h3{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}

.PublicationsTitlePart p{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  max-width: 800px;
}

/* .FirstBlockWithoutBreaker{
  display: flex;
  margin-left: 20px;
  padding-top: 30px;
  gap: 100px;
} */


/*-----------Teachings--------*/
.TeachingBlock{
  display: block;
  padding-top: 30px;
  gap: 100px;
}

.TeachingBlock h3{
  font-size: 30px;
  font-weight: 400;
}

.blockLineContainer{
  width: 100%;
  padding-right: 40px;
  padding-top: 80px;
}
.headerbreakerRelative{
  border : 1px solid black;
  position: relative;
  width: 100%;
  left: 0;
}

/*---------Contact Us------*/

.yellowContactUsTitle{
  position: relative;
  text-align: left;
  padding-left: 40px;
  top: 220px;
  max-width: 900px;
  
  line-height: 70px;
  font-weight:300;
  font-size: 35px;

}

.yellowContactUsTitle h3{
  position: relative;

  bottom: 30px;
  text-align: left;
  font-weight: 400;

}

.yellowblockStyleContacUs{
  background-color: #FFFF00;
  height: 365px;
  width: 100%;
  position: relative;
  top: 0px;
  min-width: 1340px;
}
.form{
  
  margin-left: 40px;
}

.formContainer{
  display: flex;
  margin-top: 40px;
  gap: 100px;
}
.input {
  display: block;
  width: 720px;
  height: 65px;
  background-color: #EDEDEE;
  border: none;
  margin-bottom: 24px;
}

.input[type=text] {
  padding-left: 26px;
  position: relative;
}

.submit{
  border: none;
  
  font-size: 20px;
  background-color: white;
}

.bottomContainer{
  margin-top: 100px;
  position: relative;
  width: 500px;
  left: 850px;

}

.mapContactUs{
  width: 360px;
  height: 435px;
  padding-top: 40px;
}

.sucessfulSubmissionBlock{
  position: absolute;
  margin-top: -450px;
  width: 720px;
  height: 480px;
  height: 480px;
  background-color: black;
  z-index: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.sucessfulSubmissionBlock p{
  color: grey;
  position: relative;
  text-align: center;

  top: 40%;
}
@keyframes openBox {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}







/* Under construction */

.backHome{
  display: flex;
}

.backHome p{
  font-size: 24px;
}

